@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

.Card {
  box-shadow: 0 0 15px -5px black;
  border-radius: 5px;
  margin: 15px;
  padding: 1em;
  background-color: #F9F9FA;
  overflow: auto;
  height: 100%;
  max-height: 100vh;
}

.CardTitle {
  font-family: 'Helvetica 65 Medium', sans-serif;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-size: 50px;
  position: sticky;
  top: 0;
  background-color: #F9F9FA;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: black solid 1px;
}

.YoutubeVideoIframe {
  width: 43vw;
  height: 25vw;
}

.CardDescription {
  height: fit-content;
  margin-top: 10px;
  width: 100%;
}

.CardDescriptionContent {
  font-family: 'Helvetica 65 Medium', sans-serif;
  margin-right: auto;
  width: fit-content;
  margin-left: auto;

}

/* If the window size is less than 1200px wide, make all Cards 100% width. */
/* @media screen and (max-width: 1200px) {
  .Card {
    width: 100%;
  }
} */
