.Card {
  box-shadow: 0 0 15px -5px black;
  border-radius: 5px;
  margin: 20px;
  padding: 1em;
  background-color: #F9F9FA;
  overflow: auto;
  height: 100%;
  max-height: 100vh;
}

.Card .title {
  font-size: 50px;
}

.YoutubeVideoIframe {
  width: 43vw;
  height: 25vw;
}

/* If the window size is less than 1200px wide, make all Cards 100% width. */
/* @media screen and (max-width: 1200px) {
  .Card {
    width: 100%;
  }
} */
