.Card {
  box-shadow: 0 0 15px -5px black;
  border-radius: 15px;
  margin: 20px;
  padding: 1em;
  background-color: #F9F9FA;
  overflow: auto;
  height: 100%;  
}

.Card .title {
  font-size: 50px;
}

/* If the window size is less than 1200px wide, make all Cards 100% width. */
/* @media screen and (max-width: 1200px) {
  .Card {
    width: 100%;
  }
} */