.Chatboard {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ChatboardContent {
  height: 100%;
  width: 100%;
  background-color: #E4E4E4;
}

.ChatboardPosts, .ChatboardNewPost {
  box-shadow: 0 0 15px -5px black;
  border-radius: 5px;
  margin: 20px;
  padding: 1em;
  background-color: #F9F9FA;
}

.ChatboardPosts img {
  height: 200px;
}

.ChatboardNewPost img {
  height: 100px;
}