@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.Sidebar {
    width: 200px;
    height: 100%;
    position: sticky;
    top: 0;
}

.Logo {
    width: 160px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
}

.LogoBox {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}

.SidebarDivider {
    width: 100%;
    border-bottom: solid 2px grey;
    margin-bottom: 10px;
}

.NavElement {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
/* .NavElementIcon {
} */

.NavElementText {
    width: fit-content;
    font-size: 24px;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.61);
    font-family: 'Roboto', sans-serif;
    }

.NavElementIcon {
    height: 32px;
    width: 32px;
}

/* If the webpage is a mobile device, change .Sidebar */
@media screen and (max-width: 800px) {
    .AppContainer {
        flex-direction: column;
    }

    .Sidebar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }

    .SidebarDivider {
        /* Hidden, not needed when in mobile mode */
        display: none;
    }

    /* Make sure it's vertically centered in it's parent */
    .NavElementContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        /* space between them */
        margin-right: 25px;
    }
}